.lesson-name {
    margin: 1em 0 0 20px;
    font-weight: 300;
    color: rgb(176, 202, 219);
}

.lesson-piece,
.lesson-piece:hover {
    font-weight: 100;
    color: rgb(176, 202, 219);
    margin: .5em 0 0 40px;
    display: block;
}
