.question-box,
.score-container {
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
   font-weight: 300;
}

.question-footer {
    text-align: center;
    padding-top: 1.0em;
}

.question-next {
    width: 70%;
    text-align: center;
    display: inline-block;
}

.next-text {
    padding-right: 3px; /* to push the chevron a little bit to the right */
}

.question-next-button .glyphicon {
    float: right;
    line-height: 2.33em;
    font-size: 10px;
}

.question-next-button .next-text {
    float: right;
}

.question-topic {
    text-align: center;
    padding: 1em 0 0 0;
    margin: 0.2em 0;
    font-size: 2.5em;
    font-weight: 300;
    color: #000;
}

.question-body h2,
.score-intro,
.score-outro {
    margin: 0;
    color: rgb(75, 75, 75);
    text-align: center;
    padding-top: 1em;
    font-size: 2em;
    font-weight: 400;
}

.score-outro {
    padding-top: 0;
}

.score {
    text-align: center;
    margin: 0.2em 0;
    font-size: 6em;
    font-weight: 300;
    color: #000;
}

.question-answer:hover, .question-answer:focus, .question-answer:active {
    background-color: #3071a9;
    border-color: #285e8e;
    outline: 0;
}

.question-answers {
    margin-top: 50px;
    text-align: center;
}

.question-answer {
    margin: 2px;
    color: #fff;
    background-color: #428bca;
    border-color: #357ebd;
    text-decoration: none;
    display: inline-block;
    width: 70%;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33em;
    border-radius: 6px;
}

.question-next-button {
    float: right;
    color: #333;
    background-color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 0 0 0 10px;
    font-size: 18px;
    line-height: 1.33em;
    border: 0;
}

.question-explanation {
    float: left;
    font-size: 18px;
    line-height: 1.33em;
    color: #333;
}
