<!-- begin About Us-->
<article class="about-us" id="about-us">
    <div class="container">
        <h2>About Us</h2>
        <h3>Renewable Energy Projects that we Love.</h3>
        <p>Pacific is an independent campaigning organisation, which uses non-violent,
            creative confrontation to expose global environmental problems, and
            to force the solutions which are essential to a green and peaceful
            future. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae
            ipsum ex deleniti molestiae nulla sequi molestias sit quia, possimus
            perferendis quasi dolor nesciunt culpa magnam quaerat ipsa eaque nostrum?
            Maiores.</p>

        <!-- Nav tabs -->
        <ul class="nav nav-tabs tabs-horizontal text-center" role="tablist">
            <li class="active"><a href="#volunteering" role="tab" data-toggle="tab">Volunteering</a>
            </li>
            <li><a href="#profile" role="tab" data-toggle="tab">Mission</a>
            </li>
            <li><a href="#messages" role="tab" data-toggle="tab">Vission</a>
            </li>
            <li><a href="#settings" role="tab" data-toggle="tab">Sponsors</a>
            </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div class="tab-pane active" id="volunteering">
                <div class="row">
                    <div class="col-md-3 col-sm-6 about-icon plane">
                        <i class="icon-paper-plane"></i>
                        <h4>Receive Report</h4>
                        <p>What matters isn’t words, but actions: The environment
                            has to benefit.</p>
                    </div>

                    <div class="col-md-3 col-sm-6 about-icon heart">
                        <i class="icon-heart"></i>
                        <h4>We care about you</h4>
                        <p>What matters isn’t words, but actions: The environment
                            has to benefit.</p>
                    </div>

                    <div class="col-md-3 col-sm-6 about-icon comment">
                        <i class="icon-comment"></i>
                        <h4>Support Community</h4>
                        <p>What matters isn’t words, but actions: The environment
                            has to benefit.</p>
                    </div>

                    <div class="col-md-3 col-sm-6 about-icon megaphone">
                        <i class="icon-megaphone"></i>
                        <h4>Share your passion</h4>
                        <p>What matters isn’t words, but actions: The environment
                            has to benefit.</p>
                    </div>
                </div>
            </div>

            <div class="tab-pane" id="profile">
                <div class="row">
                    <div class="col-sm-3 about-icon heart">
                        <i class="icon-heart"></i>
                    </div>
                    <div class="col-sm-9">
                        <h3 class="text-left">Promoting Solutions</h3>
                        <p>We seek solutions for, and promote open, informed debate
                            about society's environmental choices. We don’t work
                            to manage environmental problems, we work to eliminate
                            them. That’s why we developed our roadmap to save the
                            seas through the establishment of marine reserves,
                            and an Energy [R]evolution blueprint that points the
                            way to a clean economy. It’s not enough for us to point
                            the finger; we develop, research and promote concrete
                            steps towards a green and peaceful future for all of
                            us.</p>
                    </div>
                </div>
            </div>

            <div class="tab-pane" id="messages">
                <div class="row">
                    <div class="col-sm-3 about-icon comment">
                        <i class="icon-comment"></i>
                    </div>
                    <div class="col-sm-9">
                        <h3 class="text-left">Personal Responsibility and Nonviolence</h3>
                        <p>We take personal responsibility for our actions, and we
                            are committed to nonviolence. These principles are
                            inspired by the Quaker concept of 'bearing witness',
                            which is about taking action based on conscience –
                            personal action based on personal responsibility. We
                            are accountable for our actions, and everyone on a
                            Greenpeace action is trained in nonviolent direct action.</p>
                    </div>
                </div>
            </div>

            <div class="tab-pane" id="settings">
                <div class="row">
                    <div class="col-md-3 col-sm-6 about-icon comment">
                        <i class="icon-comment"></i>
                        <h4>Receive Report</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Quasi, facere, velit reiciendis.</p>
                    </div>

                    <div class="col-md-3 col-sm-6 about-icon plane">
                        <i class="icon-paper-plane"></i>
                        <h4>Receive Report</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Quasi, facere, velit reiciendis.</p>
                    </div>

                    <div class="col-md-3 col-sm-6 about-icon heart">
                        <i class="icon-heart"></i>
                        <h4>Receive Report</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Quasi, facere, velit reiciendis.</p>
                    </div>

                    <div class="col-md-3 col-sm-6 about-icon megaphone">
                        <i class="icon-megaphone"></i>
                        <h4>Receive Report</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Quasi, facere, velit reiciendis.</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</article>
