<!-- begin Contact -->
<article class="contact" id="contacts">
    <div class="container">
        <h2>Contact</h2>
        <h3>Renewable Energy Projects that we Love.</h3>

        <div class="map">
            <div id="map"></div>
        </div>

        <div class="row">
            <div class="col-md-5">
                <h5>Address:</h5>
                <p>012 Lorem Street, 123rd Floor Warsae, GA 0123456-78</p>

                <ul class="list-contact">
                    <li><i class="icon-mail"></i>Email: <a href="#">sample@mail.com</a>
                    </li>
                    <li><i class="icon-phone"></i>Phone: +49 5241 80-0 00</li>
                    <li><i class="icon-mobile"></i>Mobile: +49 5241 80-0 00</li>
                    <li><i class="icon-facebook"></i>Facebook: facebook.com/username</li>
                    <li><i class="icon-twitter"></i>Twitter: twitter.com/username</li>
                </ul>

                <h5>Other Information</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis
                    illum voluptatibus accusamus blanditiis voluptatum iusto et
                    ratione dolore quos rem quibusdam odio sint unde, aperiam dolorem
                    !</p>
            </div>
            <div class="col-md-7">
                <figure>
                    <img src="/landing/img/contact.jpg" alt="//">
                </figure>
            </div>
        </div>


        <h5>Contact us by this form:</h5>
        <form action="contact-form.php">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="name" class="sr-only">Name</label>
                        <i class="icon-user"><input type="text" class="form-control" id="name" placeholder="Name" /></i>
                    </div>
                    <div class="form-group">
                        <label for="email" class="sr-only">Email</label>
                        <i class="icon-mail"><input type="email" class="form-control" id="email" placeholder="Email" /></i>
                    </div>
                    <div class="form-group">
                        <label for="phone" class="sr-only">Phone number</label>
                        <i class="icon-phone"><input type="text" class="form-control" id="phone" placeholder="Phone number" /></i>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="subject" class="sr-only">Subject</label>
                        <input type="text" class="form-control subject" id="subject" placeholder="Subject"
                        />
                    </div>
                    <div class="form-group">
                        <label for="message" class="sr-only">Message</label>
                        <textarea class="form-control message" id="message" placeholder="Message"></textarea>
                    </div>
                </div>
            </div>
            <input type="submit" class="btn btn-form" value="Send Message">
        </form>
    </div>
</article>
<!-- end Contact -->
