<!-- begin Donate Now -->
<article class="donate-now">
    <div class="container">
        <h2>Donate Now</h2>
        <h3>Most Urgent Causes.</h3>

        <div class="row">
            <div class="col-md-3 col-sm-6">
                <a href="#" class="donation-item">
                    <figure>
                        <img src="/landing/img/donations/donation01.jpg" alt="//">
                    </figure>
                    <div class="content">
                        <h4>My Artic Sunrice</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Architecto, in molestiae ex...</p>
                    </div>
                    <div class="foot">
                        <span class="goal">Goal: $4,548</span>
                        <span class="grossed">Grossed</span>
                        <div class="progress">
                            <div class="progress-bar" title="$2.200" role="progressbar" style="width: 90%;"><span class="sr-only">90% Complete</span>
                            </div>
                        </div>
                        <span class="views"><i class="icon-eye"></i>957</span>
                        <span class="people"><i class="icon-user"></i>432</span>
                        <span class="time"><i class="icon-clock"></i>2 min</span>
                    </div>
                </a>
            </div>
            <div class="col-md-3 col-sm-6">
                <a href="#" class="donation-item">
                    <figure>
                        <img src="/landing/img/donations/donation02.jpg" alt="//">
                    </figure>
                    <div class="content">
                        <h4>My Artic Sunrice</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Architecto, in molestiae ex...</p>
                    </div>
                    <div class="foot">
                        <span class="goal">Goal: $4,548</span>
                        <span class="grossed">Grossed</span>
                        <div class="progress">
                            <div class="progress-bar" title="$2.200" role="progressbar" style="width: 60%;"><span class="sr-only">60% Complete</span>
                            </div>
                        </div>
                        <span class="views"><i class="icon-eye"></i>957</span>
                        <span class="people"><i class="icon-user"></i>432</span>
                        <span class="time"><i class="icon-clock"></i>2 min</span>
                    </div>
                </a>
            </div>
            <div class="col-md-3 col-sm-6">
                <a href="#" class="donation-item">
                    <figure>
                        <img src="/landing/img/donations/donation03.jpg" alt="//">
                    </figure>
                    <div class="content">
                        <h4>My Artic Sunrice</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Architecto, in molestiae ex...</p>
                    </div>
                    <div class="foot">
                        <span class="goal">Goal: $4,548</span>
                        <span class="grossed">Grossed</span>
                        <div class="progress">
                            <div class="progress-bar" title="$2.200" role="progressbar" style="width: 80%;"><span class="sr-only">80% Complete</span>
                            </div>
                        </div>
                        <span class="views"><i class="icon-eye"></i>957</span>
                        <span class="people"><i class="icon-user"></i>432</span>
                        <span class="time"><i class="icon-clock"></i>2 min</span>
                    </div>
                </a>
            </div>
            <div class="col-md-3 col-sm-6">
                <a href="#" class="donation-item">
                    <figure>
                        <img src="/landing/img/donations/donation04.jpg" alt="//">
                    </figure>
                    <div class="content">
                        <h4>My Artic Sunrice</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Architecto, in molestiae ex...</p>
                    </div>
                    <div class="foot">
                        <span class="goal">Goal: $4,548</span>
                        <span class="grossed">Grossed</span>
                        <div class="progress">
                            <div class="progress-bar" title="$2.200" role="progressbar" style="width: 15%;"><span class="sr-only">15% Complete</span>
                            </div>
                        </div>
                        <span class="views"><i class="icon-eye"></i>957</span>
                        <span class="people"><i class="icon-user"></i>432</span>
                        <span class="time"><i class="icon-clock"></i>2 min</span>
                    </div>
                </a>
            </div>
        </div>

        <div class="dnt-button"><a href="donations.html" class="btn btn-dark">View All</a>
        </div>

    </div>
</article>
<!-- end Donate Now -->
