<!-- begin Events -->
<article class="events" id="events">
    <div class="container">
        <h2>Events</h2>
        <h3>Renewable Energy Projects that we Love.</h3>
    </div>

    <a href="events_single.html" class="links-full-width blue25">
        <span class="container">Cycletta - various dates available</span>
    </a>

    <a href="events_single.html" class="links-full-width blue50">
        <span class="container">Find volunteer events in your area</span>
    </a>

    <a href="events_single.html" class="links-full-width blue75">
        <span class="container">London maratoon</span>
    </a>

    <a href="events.html" class="links-full-width blue100">
        <span class="container">Read all the Events</span>
    </a>
</article>
<!-- end Events -->
