<!-- begin Gallery -->
<article class="gallery separator" id="gallery">
    <div class="container">
        <h2>Gallery</h2>
        <h3>Renewable Energy Projects that we Love.</h3>

        <div id="owl-gallery" class="owl-carousel">
            <figure class="item gallery-item">
                <img src="/landing/img/gallery/gallery01.jpg" alt="//">
                <figcaption><a href="/landing/img/gallery/gallery01.jpg" class="lightzoom fancybox"
                    data-rel="gallery" title="Item 01">Bountiful Oceans</a>
                </figcaption>
            </figure>
            <figure class="item gallery-item">
                <img src="/landing/img/gallery/gallery02.jpg" alt="//">
                <figcaption><a href="/landing/img/gallery/gallery02.jpg" class="lightzoom fancybox"
                    data-rel="gallery" title="Item 02">Protecting forests</a>
                </figcaption>
            </figure>
            <figure class="item gallery-item">
                <img src="/landing/img/gallery/gallery03.jpg" alt="//">
                <figcaption><a href="/landing/img/gallery/gallery03.jpg" class="lightzoom fancybox"
                    data-rel="gallery" title="Item 03">Protecting forests</a>
                </figcaption>
            </figure>
            <figure class="item gallery-item">
                <img src="/landing/img/gallery/gallery04.jpg" alt="//">
                <figcaption><a href="/landing/img/gallery/gallery04.jpg" class="lightzoom fancybox"
                    data-rel="gallery" title="Item 04">Title of the project</a>
                </figcaption>
            </figure>
            <figure class="item gallery-item">
                <img src="/landing/img/gallery/gallery04.jpg" alt="//">
                <figcaption><a href="/landing/img/gallery/gallery04.jpg" class="lightzoom fancybox"
                    data-rel="gallery" title="Item 05">Bountiful Oceans</a>
                </figcaption>
            </figure>
            <figure class="item gallery-item">
                <img src="/landing/img/gallery/gallery03.jpg" alt="//">
                <figcaption><a href="/landing/img/gallery/gallery03.jpg" class="lightzoom fancybox"
                    data-rel="gallery" title="Item 06">Protecting forests</a>
                </figcaption>
            </figure>
            <figure class="item gallery-item">
                <img src="/landing/img/gallery/gallery02.jpg" alt="//">
                <figcaption><a href="/landing/img/gallery/gallery02.jpg" class="lightzoom fancybox"
                    data-rel="gallery" title="Item 07">Title of the project</a>
                </figcaption>
            </figure>
            <figure class="item gallery-item">
                <img src="/landing/img/gallery/gallery01.jpg" alt="//">
                <figcaption><a href="/landing/img/gallery/gallery01.jpg" class="lightzoom fancybox"
                    data-rel="gallery" title="Item 08">Bountiful Oceans</a>
                </figcaption>
            </figure>
            <figure class="item gallery-item">
                <img src="/landing/img/gallery/gallery02.jpg" alt="//">
                <figcaption><a href="/landing/img/gallery/gallery02.jpg" class="lightzoom fancybox"
                    data-rel="gallery" title="Item 09">Protecting forests</a>
                </figcaption>
            </figure>
            <figure class="item gallery-item">
                <img src="/landing/img/gallery/gallery04.jpg" alt="//">
                <figcaption><a href="/landing/img/gallery/gallery04.jpg" class="lightzoom fancybox"
                    data-rel="gallery" title="Item 10">Protecting forests</a>
                </figcaption>
            </figure>
            <figure class="item gallery-item">
                <img src="/landing/img/gallery/gallery01.jpg" alt="//">
                <figcaption><a href="/landing/img/gallery/gallery01.jpg" class="lightzoom fancybox"
                    data-rel="gallery" title="Item 11">Bountiful Oceans</a>
                </figcaption>
            </figure>
            <figure class="item gallery-item">
                <img src="/landing/img/gallery/gallery03.jpg" alt="//">
                <figcaption><a href="/landing/img/gallery/gallery03.jpg" class="lightzoom fancybox"
                    data-rel="gallery" title="Item 12">Title of the project</a>
                </figcaption>
            </figure>
        </div>
    </div>
</article>
<!-- end Gallery -->
