<!-- begin Header -->
<header class="header-home" id="home">

    <!-- begin Navbar -->
    <nav class="navbar" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">
                    <img src="/landing/img/logo.png" alt="//">
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav menu-effect">
                    <li class="active"><a href="#home">Home</a>
                    </li>
                    <li><a href="#about-us">About Us</a>
                    </li>
                    <li><a href="#events">Events</a>
                    </li>
                    <li><a href="#gallery">Gallery</a>
                    </li>
                    <li><a href="#contacts">Contacts</a>
                    </li>
                    <li><a href="#news">News</a>
                    </li>
                    <% if (data.loggedIn) { %>
                      <li>
                        <!-- <p>Welcome, <%= data.user.display_name %></p> -->
                        <a href="/logout">Logout</a>
                      </li>
                      <li>
                        <a href="/course">Go to the Course</a>
                      </li>
                    <% } else { %>
                      <li>
                        <a href="/login/facebook">Login</a>
                      </li>
                    <% }; %>
                    <li><a class="btn btn-donation" href="donations_single.html">Donation</a>
                    </li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>

    <!-- begin Slider -->
    <div class="bannercontainer">
        <div class="banner" id="slider-revolution">
            <ul>
                <li data-transition="slotslide-horizontal" data-slotamount="1">
                    <img src="/landing/img/slider/slide01.jpg" alt="//" />
                    <div class="caption lft txt" data-x="center" data-y="250" data-speed="1000" data-start="1000"
                    data-easing="easeOutBack">
                        <p>Amazing & Incredible Renewale Energy Projects that we totally
                            Love</p>
                        <a href="donations.html" class="btn btn-slider">Take action now</a>
                    </div>
                </li>

                <li data-transition="slotslide-horizontal" data-slotamount="1">
                    <img src="/landing/img/slider/slide02.jpg" alt="//" />
                    <div class="caption lft txt" data-x="center" data-y="250" data-speed="1000" data-start="1000"
                    data-easing="easeOutBack">
                        <p>Amazing & Incredible Renewale Energy Projects that we totally
                            Love</p>
                        <a href="donations.html" class="btn btn-slider">Take action now</a>
                    </div>
                </li>

                <li data-transition="slotslide-horizontal" data-slotamount="1">
                    <img src="/landing/img/slider/slide03.jpg" alt="//" />
                    <div class="caption lft txt" data-x="center" data-y="250" data-speed="1000" data-start="1000"
                    data-easing="easeOutBack">
                        <p>Amazing & Incredible Renewale Energy Projects that we totally
                            Love</p>
                        <a href="donations.html" class="btn btn-slider">Take action now</a>
                    </div>
                </li>

            </ul>
        </div>
    </div>
    <!-- end Slider -->

</header>
<!--end Header -->
