<!-- begin News -->
<article class="news-timeline" id="news">
    <div class="container">
        <h2>News</h2>
        <h3>Renewable Energy Projects that we Love.</h3>

        <div class="timeline">

            <div class="date-separator"> <span>November 2014</span> 
            </div>

            <ul class="columns">
                <li>
                    <a href="news_single.html" class="timeline-item">
                        <h5>We're taking action to stop loggers pundering the Amazon</h5>
                        <figure>
                            <img src="img/news/boxes/timeline-1.jpg" alt="//" />
                        </figure>
                        <ul class="foot">
                            <li><i class="icon-pencil"></i>By Richardg</li>
                            <li><i class="icon-clock"></i>15 mya 2014 | 7:07pm</li>
                            <li><i class="icon-comment"></i>21 Comments</li>
                        </ul>
                    </a>
                </li>
                <li>
                    <a href="news_single.html" class="timeline-item">
                        <h5>We're taking action to stop loggers pundering the Amazon</h5>
                        <figure>
                            <img src="img/news/boxes/timeline-2.jpg" alt="//" />
                        </figure>
                        <ul class="foot">
                            <li><i class="icon-pencil"></i>By Richardg</li>
                            <li><i class="icon-clock"></i>15 mya 2014 | 7:07pm</li>
                            <li><i class="icon-comment"></i>21 Comments</li>
                        </ul>
                    </a>
                </li>
                <li>
                    <a href="news_single.html" class="timeline-item">
                        <h5>We're taking action to stop loggers pundering the Amazon</h5>
                        <ul class="foot">
                            <li><i class="icon-pencil"></i>By Richardg</li>
                            <li><i class="icon-clock"></i>15 mya 2014 | 7:07pm</li>
                            <li><i class="icon-comment"></i>21 Comments</li>
                        </ul>
                    </a>
                </li>
                <li>
                    <a href="news_single.html" class="timeline-item">
                        <h5>We're taking action to stop loggers pundering the Amazon</h5>
                        <figure>
                            <img src="img/news/boxes/timeline-3.jpg" alt="//" />
                        </figure>
                        <ul class="foot">
                            <li><i class="icon-pencil"></i>By Richardg</li>
                            <li><i class="icon-clock"></i>15 mya 2014 | 7:07pm</li>
                            <li><i class="icon-comment"></i>21 Comments</li>
                        </ul>
                    </a>
                </li>
            </ul>

            <div class="date-separator"> <span>October 2014</span> 
            </div>

            <ul class="columns">
                <li>
                    <a href="news_single.html" class="timeline-item">
                        <h5>We're taking action to stop loggers pundering the Amazon</h5>
                        <figure>
                            <img src="img/news/boxes/timeline-4.jpg" alt="//" />
                        </figure>
                        <ul class="foot">
                            <li><i class="icon-pencil"></i>By Richardg</li>
                            <li><i class="icon-clock"></i>15 mya 2014 | 7:07pm</li>
                            <li><i class="icon-comment"></i>21 Comments</li>
                        </ul>
                    </a>
                </li>
            </ul>

            <div class="date-separator"> <span>September 2014</span> 
            </div>

            <ul class="columns">
                <li>
                    <a href="news_single.html" class="timeline-item">
                        <h5>We're taking action to stop loggers pundering the Amazon</h5>
                        <figure>
                            <img src="img/news/boxes/timeline-5.jpg" alt="//" />
                        </figure>
                        <ul class="foot">
                            <li><i class="icon-pencil"></i>By Richardg</li>
                            <li><i class="icon-clock"></i>15 mya 2014 | 7:07pm</li>
                            <li><i class="icon-comment"></i>21 Comments</li>
                        </ul>
                    </a>
                </li>
                <li>
                    <a href="news_single.html" class="timeline-item">
                        <h5>We're taking action to stop loggers pundering the Amazon</h5>
                        <ul class="foot">
                            <li><i class="icon-pencil"></i>By Richardg</li>
                            <li><i class="icon-clock"></i>15 mya 2014 | 7:07pm</li>
                            <li><i class="icon-comment"></i>21 Comments</li>
                        </ul>
                    </a>
                </li>
            </ul>
            <div class="date-separator"> <a href="news.html">View All</a> 
            </div>
        </div>
    </div>
</article>
<!-- end News -->
