<!-- begin partners -->
<article class="partners">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <figure>
                    <a href="#">
                        <img src="/landing/img/partners/partner01.jpg" alt="//" />
                    </a>
                </figure>
            </div>
            <div class="col-md-3 col-sm-6">
                <figure>
                    <a href="#">
                        <img src="/landing/img/partners/partner02.jpg" alt="//" />
                    </a>
                </figure>
            </div>
            <div class="col-md-3 col-sm-6">
                <figure>
                    <a href="#">
                        <img src="/landing/img/partners/partner03.jpg" alt="//" />
                    </a>
                </figure>
            </div>
            <div class="col-md-3 col-sm-6">
                <figure>
                    <a href="#">
                        <img src="/landing/img/partners/partner04.jpg" alt="//" />
                    </a>
                </figure>
            </div>
        </div>
    </div>
</article>
<!-- end partners -->
