doctype html
html(lang="en")
    head
        title= 'ESL'
        link(rel='stylesheet', href='http://yui.yahooapis.com/pure/0.5.0/pure-min.css', type='text/css')
        link(rel='stylesheet', href='http://yui.yahooapis.com/pure/0.5.0/grids-responsive-min.css', type='text/css')
        link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css', type='text/css')
        link(rel='stylesheet', href='/stylesheets/layout.css', type='text/css')
        link(rel='stylesheet', href='/stylesheets/question.css', type='text/css')
        link(rel='stylesheet', href='/stylesheets/login.css', type='text/css')
        link(rel='stylesheet', href='/stylesheets/style.css', type='text/css')
        link(rel='stylesheet', href='/stylesheets/lesson.css', type='text/css')
        link(rel='stylesheet', href='//vjs.zencdn.net/4.9/video-js.css', type='text/css')

        script(src='//vjs.zencdn.net/4.9/video.js' type='text/javascript')
        script(src='/vendor/superagent.js' type='text/javascript')
        script(src='/vendor/audio.min.js' type='text/javascript')

        script(type='text/javascript').
            window.currentUser = !{currentUser};

        script(src='/js/their_stuff.js' type='text/javascript')
        script(src='/js/our_stuff.js' type='text/javascript')

    body
        #container
