<!DOCTYPE html>
<html lang="en">

<head>
    <title>ESL</title>
</head>

<body>
    <script>
      window.data = <%- JSON.stringify(data) %>;
    </script>
    <% if (data.loggedIn) { %>
      <p>Welcome, <%= data.user.display_name %></p>
      <a href="/logout">Logout</a>
      <br>
      <a href="/course">Go to the Course</a>
    <% } else { %>
      <a href="/login/facebook">Login</a>
    <% }; %>
    <h1>Test</h1>
</body>

</html>
